html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.a-dialog-allow-button {
    background-color: red;
}

.a-dialog-deny-button {
    background-color: blue;
}

.a-dialog-ok-button {
    background-color: green;
}